html {
 background-color: #9baf81;
}

body {
  font-family: Tahoma, sans-serif; /*Form elements do not inherit this*/
  font-size: 87%;
}

header {
    color: #617140;
    padding-top: 20px;
}

/*These two properties on img ensures that the images fit the container*/
img {
  width: 100%;
  height: auto;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 165%;
}

header p {
  margin: 0;
  padding-bottom: 20px;
}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding: 40px;
  box-sizing: border-box;
}

footer {
  color: grey;
  text-align: center;
  font-size: 85%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-area {
 border-bottom: 3px solid #e5e9dc;
 border-top: 3px solid #e5e9dc;
 padding: 10px 0;
}

.main-area {
  box-sizing: border-box;
  width: 66%;
  float: left;
  padding-right: 40px;
}

.sidebar {
  width: 34%;
  float: left;
  background-color: #e5e9dc;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 85%;
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/*Start styling navigation menu*/
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: block;
  float: left;
  padding: 10px 20px;
  border: 1px solid #e5e9dc;
}

nav  a {
  text-decoration: none;
  color: #617140;
}

nav li:hover {
  background-color: #e5e9dc;
}
/*End styling navigation menu*/

/*Start styling image banner*/
.image-banner {
  position: relative;
}

.image-description {
  color: #FFF;
  position: absolute; /*Abosultely positioned elements will use the closest ancestor with ralative
  positioning as the reference to position itself. If it doens't find any, it will use the browser
  window*/
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  margin: 0; /*Remove the spacing between the description and bottom border of the image*/
  padding: 10px 20px;
}

.image-banner img {
  display: block; /*Removes stray borders at the bottom of the image*/
}
/*End styling image banner*/

/*Start styling table*/
table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  text-align: left;
  background-color: #9baf81;
  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4)
}

table th,
table td {
  border: 1px solid #9baf81;
  padding: 10px;
  vertical-align: top; /*To all the cells of a row align with each other when a cell has multiple lines*/
}

/*Zebra stripping*/
table tbody tr:nth-child(odd) {
  background-color: #e5e9dc;
}

.col-item-name {
  width: 60%;
}

.col-quantity,
.col-price {
  width: 20%;
}

/*tr:nth-child(2) (no space) will select the 2nd tr element
  tr :nth-child(2) (with space) will select 2nd child of tr element*/
table.grocery-list tr :nth-child(2), /*Use class names when applying ambigious styles*/
table.grocery-list tr :nth-child(3) {
  text-align: center;
}

/*End styling table*/


/*Start styling forms*/

form {
  background-color: #ECECEC;
  padding: 30px 40px;
}

input,
select {
  font-family: Tahoma, sans-serif;
  font-size: 100%;
}

input[type="email"],
input[type="password"],
select {
  width: 100%;
  display: block; /*Avoid unnecessary measuring problems*/
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #CDCDCD;
  outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border: 1px solid #869960;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
}

.hidden-label {
  position: absolute; /*To remove it from the normal flow of the page*/
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
}

input[type="submit"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #869960;
  color: #FFF;
  padding: 10px 0;
  border: 1px solid #798A56;
  border-radius: 3px;
  margin-bottom: 10px;
  outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #535E3B;
  background-color: #798A56;
  cursor: pointer;
}

.checkbox-text {
  font-size: 85%;
  color: #777;
}
/*End styling forms*/
