html {
 background-color: #9baf81;
}

body {
  /*
  Usually used sans-serif and serif font list:
  Helvetica, Arial, sans-serif
  Georgia, "Times New Roman", serif
  */
  font-family: Tahoma, sans-serif; /*Form elements do not inherit this*/
  font-size: 15px; /*We usually define a baseline size for the entire page*/
  line-height: 1.4;
}

.main-area h1 {
  font-size: 200%; /*We can define sizes by scaling the baseline which was set on the body tag*/
  font-style: italic;
  letter-spacing: 4px;
  word-spacing: 10px;
  text-shadow: 2px 10px 3px #999999;
  text-transform: uppercase; /*lowercase is also supported*/
}

.main-area p {
  font-size: medium; /*Values like small and large are also supported*/
  text-align: justify; /*Left, right and centre are also supported*/
  text-indent: 25px;
}
header {
    color: #617140;
    padding-top: 20px;
    /*By choosing an image that is far bigger than what we need, we're giving our design more room to
    breath. Now, even if the header height increases, our image will still take up the increased space
    intead of leaving open spaces*/
    background-image: url(images/flower.jpg);
    background-position: right center;
    background-repeat: no-repeat;
}

/*These two properties on img ensures that the images fit the container*/
img {
  width: 100%;
  height: auto;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 165%;
}

header p {
  margin: 0;
  padding-bottom: 20px;
}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding-left: 40px;
  padding-top: 15px;
  box-sizing: border-box;
  background: url(images/color-tile.png) left bottom repeat-x,#FFF url(images/color-tile.png) left top repeat-x;
   /*We covered the entire row by just downloading a small pic*/
}

footer {
  color: grey;
  text-align: center;
  font-size: 85%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-area {
 border-bottom: 3px solid #e5e9dc;
 border-top: 3px solid #e5e9dc;
 padding: 10px 0;
}

.main-area {
  box-sizing: border-box;
  width: 66%;
  float: left;
  padding-right: 40px;
}

.sidebar {
  width: 34%;
  float: left;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 85%;
  background-color: #e5e9dc; /*For older browsers that don't support linear gradient*/
  background-image: linear-gradient(to bottom, #e5e9dc, #FFF);
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/*Start styling navigation menu*/
.site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav li {
  display: block;
  float: left;
  padding: 10px 20px;
  border: 1px solid #e5e9dc;
}

.site-nav a {
  text-decoration: none;
  color: #617140;
}

.site-nav li {
  background-color: #FFF;
}

.site-nav li:hover {
  background-color: #e5e9dc;
}
/*End styling navigation menu*/

/*Start styling image banner*/
.image-banner {
  position: relative;
}

.image-description {
  color: #FFF;
  position: absolute; /*Abosultely positioned elements will use the closest ancestor with ralative
  positioning as the reference to position itself. If it doens't find any, it will use the browser
  window*/
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  margin: 0; /*Remove the spacing between the description and bottom border of the image*/
  padding: 10px 20px;
}

.image-banner img {
  display: block; /*Removes stray borders at the bottom of the image*/
}
/*End styling image banner*/

/*Start styling table*/
table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  text-align: left;
  background-color: #9baf81;
  color: #FFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4)
}

table th,
table td {
  border: 1px solid #9baf81;
  padding: 10px;
  vertical-align: top; /*To all the cells of a row align with each other when a cell has multiple lines*/
}

/*Zebra stripping*/
table tbody tr:nth-child(odd) {
  background-color: #e5e9dc;
}

.col-item-name {
  width: 60%;
}

.col-quantity,
.col-price {
  width: 20%;
}

/*tr:nth-child(2) (no space) will select the 2nd tr element
  tr :nth-child(2) (with space) will select 2nd child of tr element*/
table.grocery-list tr :nth-child(2), /*Use class names when applying ambigious styles*/
table.grocery-list tr :nth-child(3) {
  text-align: center;
}

/*End styling table*/


/*Start styling forms*/

form {
  background-color: #ECECEC;
  padding: 30px 40px;
}

input,
select {
  font-family: Tahoma, sans-serif;
  font-size: 100%;
}

input[type="email"],
input[type="password"],
select {
  width: 100%;
  display: block; /*Avoid unnecessary measuring problems*/
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #CDCDCD;
  outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border: 1px solid #869960;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
}

.hidden-label {
  position: absolute; /*To remove it from the normal flow of the page*/
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
}

input[type="submit"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #869960;
  color: #FFF;
  padding: 10px 0;
  border: 1px solid #798A56;
  border-radius: 3px;
  margin-bottom: 10px;
  outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #535E3B;
  background-color: #798A56;
  cursor: pointer;
}

.checkbox-text {
  font-size: 85%;
  color: #777;
}
/*End styling forms*/

.birds {
  background: #c2bbb1 url(images/bird.jpg) center center no-repeat;
  text-align: center;
  padding: 100px 0;
  background-size: cover;
}

.birds p {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  display: inline-block;
  padding: 10px;
  text-indent: 0;
}

/*Start CSS sprites*/
.ui-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ui-menu li {
  display: block;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-image: url(images/sprite.png);
  text-indent: -9999px; 
}

.ui-home {
  background-position: 0 -50px;
}

.ui-home:hover {
  background-position: 50px -50px;
}

.ui-profile:hover {
  background-position: 50px 0px;
}
/*End CSS sprites*/