.github-banner {
    position: absolute;
    top: 40px;
    right: -60px;
    background-color: rgb(134, 6, 6);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0 60px;
    border-top: 2px dashed orange;
    border-bottom: 2px dashed orange;
    transform: rotate(45deg);
    max-width: 40%;
    font-size: 14px;
    font-family: 'Gloria Hallelujah', cursive;
}