.container {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    clear: both; /*Without this property, the different containers will overlap because they 
    ignore floating children */
    margin-bottom : 25px;
}

.floating-box {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border: 2px solid black;
    margin: 2px;
    float: left;
}

.text {
    clear: both;
}

.group::before,
.group::after{
    content: "";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    zoom: 1;
}